version: 2.1

workflows:
  test-deploy:
    jobs:
      - test
      - test1:
          context:
            - ns-auth

jobs:
  test:
    docker:
      - image: suitehearts/node-sdf
    steps:
      - checkout
      - run: suitecloud --version

  test1:
    docker:
      - image: suitehearts/node-sdf
    steps:
      - checkout
      - run: # print the environment variable
          name: "Token id & token secrete"
          command: echo $TOKEN_ID and $TOKEN_SECRETE
    #  - run: # print the environment variable
     #     name: "Netsuite account setup"
      #    command: chmod +x autoComand.sh
     # - run: # print the environment variable
        #  name: "Token id & token secrete"
         # command: ./autoComand.sh
         
      - run: # print the environment variable
          name: "installing expect package"
          command: sudo apt-get update -qq && sudo apt-get install -yy expect
      - run: # print the environment variable
          name: "Execute test2 script"
          command: expect test2
